<a href="https://colab.research.google.com/github/Nico-GP/sales-predictions/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CODING DOJO**: Proyecto 1 
## Creado por: Nicolas Gonzalez
### Descripcion: Limpieza de datos
* Creado: 14/01/22
* Ultima Actualizacion: 14/01/22

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/CodingDojo/Project1/sales_predictions.csv')
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

Informacion de la trama de datos

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

Se identifica donde hay valores faltantes

In [ ]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

Se cuantifica porcentualmente los datos faltantes

In [ ]:
df.isna().sum()/len(df)*100

Item_Identifier               0.000000
Item_Weight                  17.165317
Item_Fat_Content              0.000000
Item_Visibility               0.000000
Item_Type                     0.000000
Item_MRP                      0.000000
Outlet_Identifier             0.000000
Outlet_Establishment_Year     0.000000
Outlet_Size                  28.276428
Outlet_Location_Type          0.000000
Outlet_Type                   0.000000
Item_Outlet_Sales             0.000000
dtype: float64

Informacion estadistica de la trama de datos

In [ ]:
df.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  7060.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.643456  ...        1706.499616
min       4.555000  ...          33.290000
25%       8.773750  ...         834.247400
50%      12.600000  ...        1794.331000
75%      16.850000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]

Se ingresa la categoria "Unspecified" en las celdas vacias de la comlumna "Outlet_Size"

In [ ]:
df["Outlet_Size"].fillna("Unspecified", inplace = True)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
6           FDO10        13.65  ...  Supermarket Type1           343.5528
7           FDP10          NaN  ...  Supermarket Type3          4022.7636

[5 rows x 12 columns]

Trama de datos con valores iguales a 0 de la columna "Item_Visibility"

In [ ]:
missing_IV = df["Item_Visibility"] == 0
df.loc[missing_IV, :].head()

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

Se eliminan las filas que contengan "0" en la columna "Item_Visibility"

In [ ]:
df.drop(df.loc[df["Item_Visibility"]==0].index, inplace=True)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
6           FDO10        13.65  ...  Supermarket Type1           343.5528
7           FDP10          NaN  ...  Supermarket Type3          4022.7636

[5 rows x 12 columns]

Categorias de la columna "Item_Fat_Content"

In [ ]:
df["Item_Fat_Content"].value_counts()

Low Fat    4789
Regular    2708
LF          285
reg         113
low fat     102
Name: Item_Fat_Content, dtype: int64

Se estandariza las categorias de la columna "Item_Fat_Content"

In [ ]:
df["Item_Fat_Content"].replace({"LF": "Low Fat", "low fat": "Low Fat", "reg": "Regular"}, inplace=True)
df["Item_Fat_Content"].value_counts()

Low Fat     5074
Regular     2821
Low Fat      102
Name: Item_Fat_Content, dtype: int64

In [ ]:
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
6           FDO10        13.65  ...  Supermarket Type1           343.5528
7           FDP10          NaN  ...  Supermarket Type3          4022.7636

[5 rows x 12 columns]

Se omiten los velores faltantes en la columna "Item_Weight"

In [ ]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1373
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7997 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            7997 non-null   object
 1   Item_Weight                6624 non-null   float64
 2   Item_Fat_Content           7997 non-null   object
 3   Item_Visibility            7997 non-null   float64
 4   Item_Type                  7997 non-null   object
 5   Item_MRP                   7997 non-null   float64
 6   Outlet_Identifier          7997 non-null   object
 7   Outlet_Establishment_Year  7997 non-null   int64
 8   Outlet_Size                7997 non-null   object
 9   Outlet_Location_Type       7997 non-null   object
 10  Outlet_Type                7997 non-null   object
 11  Item_Outlet_Sales          7997 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 1.1+ MB

Tipo de producto mas comun

In [ ]:
df["Item_Type"].mode()

0    Fruits and Vegetables
dtype: object

Ventas totales de cada producto

In [ ]:
df.groupby(["Item_Identifier"])[["Item_Outlet_Sales"]].sum()

                 Item_Outlet_Sales
Item_Identifier
DRA12                    6239.8776
DRA24                   15723.5328
DRA59                   18509.2400
DRB01                    4554.0720
DRB13                   12144.1920
...                            ...
NCZ30                   11689.4506
NCZ41                    7259.8832
NCZ42                   18487.9344
NCZ53                   15073.7120
NCZ54                   22418.8176

[1559 rows x 1 columns]

Ventas totales de cada tienda

In [ ]:
df.groupby(["Outlet_Identifier"])[["Item_Outlet_Sales"]].sum()

                   Item_Outlet_Sales
Outlet_Identifier
OUT010                  1.770575e+05
OUT013                  2.002286e+06
OUT017                  2.037795e+06
OUT018                  1.720256e+06
OUT019                  1.706419e+05
OUT027                  3.231976e+06
OUT035                  2.140235e+06
OUT045                  1.888582e+06
OUT046                  1.989434e+06
OUT049                  2.063804e+06

Ventas promedio de cada producto en cada tienda

In [ ]:
df.groupby(["Outlet_Identifier", "Item_Identifier"])[["Item_Outlet_Sales"]].mean()

                                   Item_Outlet_Sales
Outlet_Identifier Item_Identifier
OUT010            DRA12                     283.6308
                  DRA24                     327.5736
                  DRA59                     185.0924
                  DRB13                     948.7650
                  DRB25                     214.3876
...                                              ...
OUT049            NCZ18                    5580.7356
                  NCZ30                    2530.7058
                  NCZ42                    4740.4960
                  NCZ53                    3956.8494
                  NCZ54                    7148.0288

[7997 rows x 1 columns]

Ventas promedio por tamaño de tienda

In [ ]:
df.groupby(["Outlet_Size"])[["Item_Outlet_Sales"]].mean()

             Item_Outlet_Sales
Outlet_Size
High               2293.568889
Medium             2682.996793
Small              1917.214289
Unspecified        1810.871106

Producto mas vendido en cada tienda

In [ ]:
df.groupby(["Outlet_Identifier", "Item_Identifier"])[["Item_Outlet_Sales"]].max()

                                   Item_Outlet_Sales
Outlet_Identifier Item_Identifier
OUT010            DRA12                     283.6308
                  DRA24                     327.5736
                  DRA59                     185.0924
                  DRB13                     948.7650
                  DRB25                     214.3876
...                                              ...
OUT049            NCZ18                    5580.7356
                  NCZ30                    2530.7058
                  NCZ42                    4740.4960
                  NCZ53                    3956.8494
                  NCZ54                    7148.0288

[7997 rows x 1 columns]

Ventas promedio de los productos agrupadas por visibilidad

In [ ]:
df.groupby(["Item_Identifier", "Item_Visibility"])[["Item_Outlet_Sales"]].mean()

                                 Item_Outlet_Sales
Item_Identifier Item_Visibility
DRA12           0.040912                 2552.6772
                0.041113                  850.8924
                0.041178                 2552.6772
                0.068535                  283.6308
DRA24           0.039735                 4913.6040
...                                            ...
NCZ54           0.083359                 4711.2008
                0.083489                 7148.0288
                0.083528                 2274.3728
                0.083699                 2599.2832
                0.145952                  162.4552

[7997 rows x 1 columns]

Ventas agrupadas por año de establecimiento de las tiendas

In [ ]:
df.groupby(["Outlet_Establishment_Year"])[["Item_Outlet_Sales"]].sum()

                           Item_Outlet_Sales
Outlet_Establishment_Year
1985                            3.402618e+06
1987                            2.002286e+06
1997                            1.989434e+06
1998                            1.770575e+05
1999                            2.063804e+06
2002                            1.888582e+06
2004                            2.140235e+06
2007                            2.037795e+06
2009                            1.720256e+06

Ventas totales agrupadas por precio de cada producto

In [ ]:
df.groupby(["Item_Identifier", "Item_MRP"])[["Item_Outlet_Sales"]].sum()

                          Item_Outlet_Sales
Item_Identifier Item_MRP
DRA12           140.3154          2552.6772
                142.0154           850.8924
                142.3154          2552.6772
                143.0154           283.6308
DRA24           162.4868          4422.2436
...                                     ...
NCZ54           161.3552          7148.0288
                161.9552          4711.2008
                162.4552          2274.3728
                163.4552          2599.2832
                164.0552          5523.4768

[7550 rows x 1 columns]